@font-face {
    font-family: 'Oswald';
    src: url('../font/oswald.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/roboto-condensed.ttf');
}

Button {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
}

TextField {
    -fx-border-width: 2px;
    -fx-border-color: #3BBFA7;
    -fx-font-size: 16px;
}

ScrollPane, TextField, ScrollPane .viewport, ScrollBar, CheckBox .box, #closeButton, .taskItem {
    -fx-background-color: transparent;
}

Button, ScrollBar .thumb, .borderBar, CheckBox:selected .box {
    -fx-background-color: #3BBFA7;
}

ScrollBar .thumb:hover {
    -fx-opacity: 0.8;
}

CheckBox .box {
    -fx-border-color: #3BBFA7;
    -fx-border-width: 2px;
}

CheckBox:selected .mark {
    -fx-background-color: #fff;
}

#mainPane {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}

#title {
    -fx-font-family: "Oswald";
    -fx-font-size: 30px;
}

#addButton {
    -fx-font-size: 30px;
    -fx-padding: 0 0;
    -fx-font-weight: bold;
}

#deleteButton {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-border-color: #3BBFA7;
    -fx-text-fill: #3BBFA7;
    -fx-font-size: 12px;
}

#closeButton {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-background-radius: 0 10 0 0;
    -fx-padding: 0 0;
    -fx-background-insets: 0;
}

#minimizeButton {
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
    -fx-padding: -30 0 0 0;
    -fx-background-insets: 0;
}

#deleteButton:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #3BBFA7;
}

#closeButton:hover {
    -fx-background-color: #cc0000;
}

#minimizeButton:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #3BBFA7;
}

#topBar {
    -fx-background-radius: 10 10 0 0;
}

#bottomBar {
    -fx-background-radius: 0 0 10 10;
}

.taskItem {
    -fx-border-width: 2px;
    -fx-border-color: #3BBFA7;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-family: "Roboto Condensed";
}

.clickable {
    -fx-cursor: hand;
}

.traced .text {
    -fx-strikethrough: true;
}
