@font-face {
    font-family: 'Oswald';
    src: url('../font/oswald.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/roboto-condensed.ttf');
}

.button {
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-font-family: "Roboto Condensed";
}

.text-field {
    -fx-border-width: 2px;
    -fx-border-color: #3BBFA7;
    -fx-font-size: 16px;
}

.scroll-pane,
.text-field,
.scroll-pane .viewport,
.scroll-bar,
.check-box .box,
#closeButton,
.taskItem {
    -fx-background-color: transparent;
}

.button,
.scroll-bar .thumb,
.borderBar {
    -fx-background-color: #3BBFA7;
}

.scroll-bar .thumb:hover {
    -fx-opacity: 0.8;
}

.check-box .box {
    -fx-border-color: #3BBFA7;
    -fx-border-width: 2px;
}

.check-box .box:hover {
    -fx-opacity: 0.8;
}

#mainPane {
    -fx-background-color: #fff;
}

#title {
    -fx-font-family: "Oswald";
    -fx-font-size: 30px;
}

#addButton {
    -fx-font-size: 30px;
    -fx-padding: 0 0;
    -fx-font-weight: bold;
    -fx-background-radius: 0 2 2 0;
}

#deleteButton {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-border-color: #3BBFA7;
    -fx-text-fill: #3BBFA7;
    -fx-font-size: 12px;
}

#deleteButton:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #3BBFA7;
}

#addButton:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #3BBFA7;
}

.taskItem {
    -fx-border-width: 2px;
    -fx-border-color: #3BBFA7;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-family: "Roboto Condensed";
}

.clickable {
    -fx-cursor: hand;
}

.disabled {
    -fx-opacity: 0.5;
}

.disabled .text {
    -fx-strikethrough: true;
}

.menu-bar {
    -fx-background-color: #221a38;
    -fx-padding: 0;
}

.menu-bar .menu,
.menu-bar .menu .menu-item {
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menu-bar .menu .label,
.menu-bar .menu .menu-item .label {
    -fx-text-fill: #fff;
}

.menu-bar .menu:hover,
.menu-bar .menu .menu-item:hover,
.menu-bar .menu:showing,
.menu-bar .menu .menu-item:focused {
    -fx-background-color: #ffffff1e;
}

.menu-bar .menu .context-menu {
    -fx-background-color: #2c2c2c;
    -fx-padding: 5px 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.check,
.check-box:selected .mark {
    -fx-shape: "M17.0303 8.78039L8.99993 16.8107L5.4696 13.2804L6.53026 12.2197L8.99993 14.6894L15.9696 7.71973L17.0303 8.78039Z";
    -fx-background-color: #fff;
}